@import '../style/general.scss';

.card {
    background-color: $light-greysh;
    margin: 5px;
    float: left;
    width: 300px;
    height: 400px;
    text-align: start;

    p {
        padding: 0 0 5px 0;
    }
}