.container {
    width: 80%;
    margin: 0 auto;
}

//COLORS
$greysh: #333;
$red: red;
$white: #fff;

//LAYOUT
.d-flex {
    display: flex;
}
.d-center {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.d-center-header {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.clearfix {
    content: '';
    display: table;
    clear: both;
}